global
    maxconn 2048

defaults
    mode http
    timeout connect 2s
    timeout client  10s
    timeout server  10s
    option http-keep-alive
    option forwardfor

frontend public
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option httpchk GET /ready
    server api1 api-1:8080 check inter 2s fall 2 rise 2
    server api2 api-2:8080 check inter 2s fall 2 rise 2
